@model List<DataAccess.Entities.Product>

<h1>Product List</h1>


@* Razor Engine operators : @if... @for.. @foreach @switch  *@
@if (Model.Any())
{
    <p>Count of Products : @Model.Count</p>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var product in Model)
        {
            <div class="col">
                <div class="card">
                     <div class="product-card-image">
                             <img src="@(product.ImagePath??"https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg")" class="card-img-top" alt="Product image">
                     </div>
                   
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">
                            @product.Category

                            <span class="badge bg-primary">@product.Price grn</span>
                        </p>
                        <a 
                            asp-action="Details" 
                            asp-route-id="@product.Id"
                            
                           class="btn btn-dark">
                            <i class="bi bi-info-square"></i>
                        </a>
                        <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

    <a asp-action="Create" class="btn btn-primary mt-4">Create New Product</a>


}
else
{
    <p>No product here yet!!!</p>
}
